main {

    min-height: 80dvh;
}

main h1 {

    text-align: center;
    margin-block: 10px;
}

.form-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-flex {

    background-color: #929292;
    border-radius: 8px;
    padding: 10px;
}